Package: com.zerox.MySetting
Name: MySetting
Version: 1.0-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: ZeroX
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

